<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="{{ url_for('static', filename='styles/Main.css') }}" rel="stylesheet" type="text/css" >
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Emoji Analyzer</title>
</head>
<body>
    <div id="Header">
        <h1 id="Title_Text">Emoji Matcher!</h1>
    </div>

    <div id="Content">
        <div id="Text_Box">
            <input id="Text_Input" type="text">
        </div>

        <div id="Emoji_Output_Box">

        </div>
    </div>
</body>
</html>